<div class="row">
    <h4>My Coupons</h4>
</div>
<div class="collection">
    {{#each userCouponPage as |coupon| }}
    <a href="http://localhost:3001/qr-code" class="collection-item">{{coupon.medication_name}}</a>
    {{/each}}
</div>